/**
 * file: css/css.css
 * purpose: styling
 **/

/* Fonte ("skrifttyper") placeres øverst */

/* Farvepalette */
/* Se: https://www.w3schools.com/css/css3_variables.asp */
:root {
  --tekst: #020202;
  --baggrund: #cae6c3;
  --kontrast1: #ff0;
  --kontrast2: rgb(252, 250, 248);
  --kontrast3: #00f;
  --kontrast4: #d0edff;
  --kontrast5: #f00;
  --gammelrosa: #f2cfcf5e;
  --pang: #fe3ae1; /* PANG!! eller - "Call to Action" */
  --transparent: #cae6c3a2;
}

/* Remove whitespace on top of certain browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generelle indstillinger  */
body {
  background-color: var(--baggrund); /* sådan bruges en CSS-variablel */
  color: var(--tekst);
}

header {
  background-image: url('../images/kanoture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.titel {
  position: relative;
  /*top:50%;*/
  background-color: var(--transparent);
  padding: 4%;
}

.titel h1 {
  font-size: 3rem;
}

.titel h2 {
  font-size: 2rem;
}

/* Styles til navigation */

/* Sticky navigation ("topklistret") */
nav {
  position: sticky;
  top: 0;
  z-index: 1; 
  color: var(--kontrast2); 
  /* color: er altid skriftens farve */
  background-color: var(--tekst);
}

nav a {
  color: var(--kontrast2);
}

/* Gør logoet mindre */
nav a img {
  height: 99px;
  width: auto;
}


/* Billeder fylder 100% af den plads der er til rådighed - en fordel i responsivt design */
img {
  width: 100%;
}

h1,
h2 {
  padding-top: 2rem;
  text-align: center;
}

p {
  padding: 23px;
}

.flexdemo {
  display: flex;
  padding: 23px;
  justify-content: space-around;
}


/*-------------------------*/

/* Responsive regler */

/* BREAKPOINTS
  Se: https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp 
*/
  /* Extra small devices (phones, 600px and down) */
  /*@media only screen and (max-width: 600px) {...}*/

  /* Small devices (portrait tablets and large phones, 600px and up) */
  /*@media only screen and (min-width: 600px) {...}*/

  /* Medium devices (landscape tablets, 768px and up) */
  /*@media only screen and (min-width: 768px) {...}*/

  /* Large devices (laptops/desktops, 992px and up) */
  /*@media only screen and (min-width: 992px) {...}*/

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /*@media only screen and (min-width: 1200px) {...}*/

 /* Jeg demonstrerer to breakpoints: extra small og laptops*/

 /*-------------------------*/

/* Designet fungerer allerede på mobile, så her er udtagelser til større skærme */
@media only screen and (max-width: 600px) {
  /* Vi får brug for at flex-klassen er defineret på små skærme  */
  .flex {
    padding: 2%;
    display: block;
    gap: 2rem;
  }
}

/* Designet flexer til kolonner på større skærme. */
@media only screen and (min-width: 992px) {
  /* .flex : en "class" til containere, der skal vises som "kolonner" */
  .flex {
  padding: 2%;
  display:flex;
  gap: 2rem;
  }
}